<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="light dark" name="color-scheme">

    <!-- Primary Meta Tags -->
    <title>Dice Command Builder</title>
    <meta content="Dice Command Builder" name="title">
    <meta content="The Dice Command Builder creates reasonable input for the V5 function of the Vampire: The Masquerade Discord Dice Bot made by StoneWolf18."
          name="description">

    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta content="https://elrathor.github.io/V5-Dice-Command-Builder/" property="og:url">
    <meta content="Dice Command Builder" property="og:title">
    <meta content="The Dice Command Builder creates reasonable input for the V5 function of the Vampire: The Masquerade Discord Dice Bot made by StoneWolf18."
          property="og:description">
    <meta content="https://elrathor.github.io/V5-Dice-Command-Builder/MetaImage.png"
          property="og:image">

    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta content="https://elrathor.github.io/V5-Dice-Command-Builder/" property="twitter:url">
    <meta content="Dice Command Builder" property="twitter:title">
    <meta content="The Dice Command Builder creates reasonable input for the V5 function of the Vampire: The Masquerade Discord Dice Bot made by StoneWolf18."
          property="twitter:description">
    <meta content="https://elrathor.github.io/V5-Dice-Command-Builder/MetaImage.png"
          property="twitter:image">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@0.1/dist/css/bootstrap-nightshade.min.css"
          rel="stylesheet">
    <link href="custom.css" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div id="app">
    <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
            <h1 class="d-flex align-items-center fs-4 text-white mb-0">
                <i class="bi bi-droplet-fill text-danger"></i>
                <i class="bi bi-dice-1 text-danger"></i>
            </h1>
            <div class="btn-group ms-auto" role="group">
                <a id="darkmode-button" class="btn btn-outline-secondary" @click="toggleDarkmode()">
                    <i class="bi"
                       v-bind:class="{
                        'bi-moon': isDarkmode && isDarkmodeInit ,
                        'bi-sun': !isDarkmode && isDarkmodeInit,
                        'bi-sunglasses': !isDarkmodeInit}"></i>
                </a>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" type="button"></button>
                    <ul aria-labelledby="btnGroupDrop1" class="dropdown-menu" style="">
                        <li>
                            <a id="darkmode-off-button" class="dropdown-item" @click="setDarkmode(false)">Set Light
                                Mode</a>
                        </li>
                        <li>
                            <a id="darkmode-on-button" class="dropdown-item" @click="setDarkmode(true)">Set Dark
                                Mode</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a id="darkmode-forget" class="dropdown-item" @click="resetDarkmode()">Reset Mode</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1 class="display-1">Dice Command Builder</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div id="accordionExample" class="accordion">
                    <div class="accordion-item">
                        <h2 id="headingOne" class="accordion-header">
                            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button collapsed"
                                    data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
                                <strong>Explanation</strong>
                            </button>
                        </h2>
                        <div id="collapseOne" aria-labelledby="headingOne" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <strong>Example:</strong> If you have to roll <code>Wits +
                                        Awareness</code> use the number of points
                                        of <code>Wits</code> as <code>Stat 1 </code> and the number of points of <code>Awareness</code>
                                        as <code>Stat 2</code>.
                                        Any further modification can be entered as <code>Modifier</code>.
                                    </li>
                                    <li>
                                        The hunger points and the number of successes needed are only used when
                                        activated. (See
                                        checkbox in front of input) A deactivated value defaults to 0.
                                    </li>
                                    <li>
                                        <strong>Hint:</strong> In case a flat number of D10 should be rolled you can
                                        just enter
                                        the
                                        number as a modifier and leave everything else at 0.
                                    </li>
                                    <li>
                                        The command at the bottom should (if no error is displayed) be a reasonable
                                        input for
                                        the V5 function of the <a
                                            href="https://stonewolf18.github.io/masquerade/#/?id=roll5e">Vampire:
                                        The Masquerade Discord Dice Bot</a> made by <a
                                            href="https://github.com/StoneWolf18">StoneWolf18</a>.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 id="headingTwo" class="accordion-header">
                            <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed"
                                    data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
                                <span class="text-danger">Danger Zone</span>
                            </button>
                        </h2>
                        <div id="collapseTwo" aria-labelledby="headingTwo" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <button class="btn btn-danger" type="button" @click="reset">Reset Form</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm">
                <label class="form-label" for="statOneInput">Stat 1</label>
                <div class="row">
                    <div class="col">
                        <input id="statOneInput" v-model="stat1" class="form-range" max="6" min="0" type="range">
                    </div>
                    <div class="col-auto">
                        <span><strong>{{ stat1 }} Points</strong></span>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <label class="form-label" for="statTwoInput">Stat 2</label>
                <div class="row">
                    <div class="col">
                        <input id="statTwoInput" v-model="stat2" class="form-range" max="6" min="0" type="range">
                    </div>
                    <div class="col-auto">
                        <span><strong>{{ stat2 }} Points</strong></span>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <label class="form-label" for="statThreeInput">Modifier</label>
                <div class="input-group">
                    <input id="statThreeInput" v-model="stat3" class="form-control" type="number">
                    <button class="btn btn-outline-secondary" @click="increaseModifier"><i class="bi bi-chevron-up"></i>
                    </button>
                    <button class="btn btn-outline-secondary" @click="decreaseModifier"><i
                            class="bi bi-chevron-down"></i></button>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label" for="inputHunger"><span class="small">(optional)</span> Current Level Of
                    Hunger</label>
                <div class="row">
                    <div class="col-auto">
                        <div class="form-check form-switch">
                            <input id="inputCheckboxHunger" v-model="hungerActivated" class="form-check-input"
                                   type="checkbox">
                        </div>
                    </div>
                    <div class="col">
                        <input id="inputHunger" v-model="hunger" class="form-range" max="5" min="0" type="range"
                               v-bind:disabled="!hungerActivated">
                    </div>
                    <div class="col-auto"><span><strong>{{ hunger }} Hunger</strong></span></div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label" for="inputSuccess"><span class="small">(optional)</span> Number of Successes
                    Needed</label>
                <div class="row">
                    <div class="col-auto">
                        <div class="form-check form-switch">
                            <input v-model="successNeededActivated" class="form-check-input" type="checkbox"
                                   value="">
                        </div>
                    </div>
                    <div class="col">
                        <input id="inputSuccess" v-model="successNeeded" class="form-range" max="10"
                               min="0" type="range" v-bind:disabled="!successNeededActivated">
                    </div>
                    <div class="col-auto">
                        <span> <strong>{{ successNeeded }} Successes</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label" for="inputComment">Comment</label>
                <textarea id="inputComment" v-model="rollComment" class="form-control"
                          rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group input-group-lg">
                    <input v-model="rollCommand" class="form-control"
                           readonly type="text"
                           v-bind:class="{'is-invalid': hasError, 'is-valid': !hasError}">
                    <button id="buttonCopy" class="btn btn-outline-primary" type="button" @click="copy"><i
                            class="bi bi-clipboard"></i> Copy
                    </button>
                    <div class="invalid-feedback" v-bind:class="{hide: !hasError}">
                        <b>Attention!</b> The command might not work as expected. Please check your input.
                    </div>
                </div>

            </div>
        </div>
        <span class="text-muted">
            <a href="https://github.com/Elrathor/V5-Dice-Command-Builder" target="_blank">Made</a> with <span
                style="color: #e25555;">&hearts;</span> by <a href="https://tobias-boyer.dev"
                                                              target="_blank">Elrathor</a></span>
    </div>
</div>


<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@0.1/dist/js/darkmode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="script.js"></script>
</body>
</html>